
   INFO  Running migrations.  

  2025_04_24_063924_create_shift_table ................................................................................  
  Ôçé create table `shift` (`id` bigint unsigned not null auto_increment primary key, `nama_shift` varchar(255) not null, `jam_masuk` time not null, `jam_pulang` time not null, `created_at` timestamp null, `updated_at` timestamp null) default character set utf8mb4 collate 'utf8mb4_unicode_ci'  

